body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height is 100% to the viewport height */
    height: 100vh; 
    justify-content: center;
    background: url("nature.jpg");
    background-size:100%;
    overflow: hidden;
  }
  h2 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 1rem;
    text-align: center;
    color: white;
  } 
  .clock {
    display: flex;
  }
  
  .clock div {
    margin: 0.2em;
    position: relative;
  }
  
  .clock span {
    width: 2em;
    height: 1.7em;
    background: rgb(99, 116, 150);
    opacity: 0.8;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 3rem;
  }
  .clock .text {
    height: 4em;
    width:12em;
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    background: rgb(105, 164, 147);
    opacity: 0.8;
  }
  .clock #ampm {
    bottom: 0;
    position: absolute;
    width: 2.5em;
    height: 1.25em;
    font-size: 1.5rem;
    background: green;
  }