body {
margin:0;
display: flex;
justify-content: center;
height: 100vh;
align-items: center;
text-align: center;
background-color: darkgoldenrod;
font-family: cursive;
} 
.form {
    background-color:azure;
    padding: 2em;
    box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.3);
    border-radius: 1em; 
    margin: 1em;
}

.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size:  1.5rem;
    text-align: center;
    padding: 0.5em;
    border: 0.2em solid darkgoldenrod; 
    color: darkgoldenrod;
}
.input::placeholder{
    color: aliceblue;
    font-family: cursive;

}
.btn {
    background-color: burlywood;
    color: black;
    border: none;
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    border-radius: 0.5rem;
    font-family: cursive;
    cursor: pointer;

}
.btn:hover{
    filter:brightness(0.9);
}
.score {
    color: green;
    text-align: right;
}