body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: salmon;
    font-family: cursive;
  }
  
  .container {
    background-color: lightpink;
    width: 25rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  }
  
  .textarea {
    resize: none;
    width: 100%;
    height: 6rem;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 0.6rem;
    box-sizing: border-box;
    border: solid 0.1rem darkgray;
  }
  
  .counter-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0.25rem;
  }
  
  .counter-container p {
    font-size: 1rem;
    color: gray;
  }
  
  .total-counter {
    color: slateblue;
  }
  
  .remaining-counter {
    color: orangered;
  }