body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: black;
  }
  
  .main-container {
    max-width: 35rem;
    padding: 0.5rem;
  }
  
  .main-container img {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
  }
  
  .main-container h1 {
    color: white;
    font-weight: 500;
  }
  
  .main-container p {
    color: white;
    margin: 1rem 0;
  }
  
  .btn {
    background-color: white;
    border: none;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    border-radius: 0.25rem;
  }
  
  .btn:hover {
    background-color: orange;
  }
  
  .trailer-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.7s;
  }
  
  .active.trailer-container {
    visibility: hidden;
    opacity: 0;
  }
  
  .trailer-container video {
    position: relative;
    max-width: 56rem;
    outline: none;
  }
  
  @media (max-width: 991px) {
    .trailer-container video {
      max-width: 90%;
    }
  }
  
  .close-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
    cursor: pointer;
  }