body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .bg-image {
    width: 100%;
    height: 100vh;
    background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: 160%;
  }
  
  .container {
    padding: 6rem;
  }
  
  h1 {
    font-size: 3rem;
  }
  p {
    color: rgb(57, 5, 5);
  }
  
  /* @media (max-width: 500px) {
    .container {
      padding: 10px;
    }
  } */