body {
    margin:0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
    font-family: sans-serif;
}
.btn {
    background-color: coral;
    padding:1.5rem 3rem ;
    border-radius:0.25rem ;
    box-shadow: 0 0.25rem 0.5rem;
    position: relative;
    overflow: hidden;
}
.btn span{
    position: relative;
    z-index: 1;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: rgb(88, 15, 161);
    width: 0;
    height: 0;
    left:50%;
    top: 50%;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: width 0.5s,height 0.5s;
}

.btn:hover::before{
    width: 20rem;
    height: 20rem;
}