body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgb(114, 118, 220);
  }
  
  h1 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 0.25rem;
    color: white;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
    white-space: nowrap;
  }
  
  .container {
    text-align: center;
  }
  
  .btn {
    padding: 2rem 3rem;
    background-color: rgb(194, 166, 22);
    border: none;
    margin: 0.5rem;
    font-size: 2rem;
    min-width: 20rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    background-image: url("tomdrm.jpg");
    background-size: cover;
    color: white;
    font-family: cursive;
    text-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-transform: capitalize;
  }
  
  .btn:hover {
    color: pink;
  }
  
  .btn:active {
    background-size: 105%;
  }