body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
  }
  
  .image-container {
    text-align: center;
  }
  
  .image-container img {
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    background-color: lightgray;
    width: 20rem;
    height: 20rem;
  }
  
  .btn {
    background-color: slateblue;
    border: none;
    padding: 0.5rem 1rem;
    margin: 1rem;
    color: white;
    border-radius: 0.3rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.9;
  }