body {
    margin: 0;
    font-family: cursive;
  }
  
  h1 {
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .color-container {
    background-color: orange;
    width: 18.75rem;
    height: 9rem;
    color: white;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: solid black 2px;
    border-radius: 0.5rem;
  }